<div [ngClass]="'web'" [ngClass.xs]="'mobile'">

  <div class="left-top-cont">
    <img class="prof-image" src="../../assets/image-1.jpg" />
    <div class="links">

      <a href="/">
        <i style="color:#0b66c2;" class="fa fa-phone-square"></i>
      </a>
      <a href="https://github.com/sumanju">
        <i style="color:black;" class="fa fa-github-square"></i>
      </a>
      <a href="https://www.linkedin.com/in/suman-mandal-3377a816b/">
        <i style="color:#0b66c2" class="fa fa-linkedin-square"></i>
      </a>
      <a href="mailto:sumanmandal21296@gmail.com">
        <i style="color: red;" class="fa fa-envelope-o"></i>
      </a>

    </div>
  </div>

  <div class="right-bottom-cont">
    <p class="about-hdr"> About me </p>
    <p class="about-cont">
      Hi I am Suman Mandal, a 24 year old Software developer and Freelancer living in Bangalore, India. Completed
      graduation from <b>Jadavpur university Kolkata</b>. Currently working at Obopay Mobile Technology as a Software 
      Engineer. Majorly work on <b>Javascript</b> based frameworks like Angular, Express and new with React & Redux.
    </p>
    <p class="about-cont">
      Have a look at my skills, Projects or just connect with me on LinkedIn. I am always excited to do work
      with like minded people, lets discuss over new cool technology and innovative stuffs.
    </p>
  </div>

</div>