<div [ngClass]="'web'" [ngClass.xs]="'mobile'">

  <div class="left-top-cont">
    <img class="prof-image" src="../../assets/image-1.jpg" />
    <div class="links">

      <a href="https://youtube.com/akshaymarch7">
        <i style="color: red;" class="fa fa-youtube-play"></i>
      </a>
      <a href="https://www.facebook.com/akshaymarch7">
        <i class="fa fa-facebook-official"></i>
      </a>
      <a href="https://in.linkedin.com/in/akshaymarch7">
        <i class="fa fa-linkedin-square"></i>
      </a>
      <a href="mailto:akshaysaini.in@gmail.com">
        <i style="color: red;" class="fa fa-envelope-o"></i>
      </a>

    </div>
  </div>

  <div class="right-bottom-cont">
    <p class="about-hdr"> About me </p>
    <p class="about-cont">
      Hi I am Suman Mandal, a 24 year old Software developer and Freelancer living in Bangalore, India. Completed 
      graduation from <b>Jadavpur univerisity Kolkata</b>. Majorly work on <b>Javascript/Typescript</b> based frameworks like
      Angular, Express and new with React.js. Currently working at Obopay Mobile Technologyas as a Software Engineer.
    </p>
    <p class="about-cont">
      Have a look at my skills, Projects or just connect with me on LinkedIn. I am always excited to do work
      with like minded people, lets discuss over new cool technology and innovative stuffs.
    </p>
  </div>

</div>