<div  [ngClass]="'web'"  
      [ngClass.lt-md]="'mobile'">

  <div  class="skill-hdr">
    Skills
  </div>
  
  <div  class="skill-bdy">

    <div  class="charts">
      <canvas baseChart 
        [data]="doughnutChartData1"
        [labels]="doughnutChartLabels1"
        [chartType]="doughnutChartType">
      </canvas>
      <div  class="chart-for">
        Framework
      </div>
    </div>

    <div  class="charts">
      <canvas baseChart 
        [data]="doughnutChartData2"
        [labels]="doughnutChartLabels2"
        [chartType]="doughnutChartType">
      </canvas>
      <div  class="chart-for">
        Language
      </div>
    </div>

  </div>

  <div  class="skill-bdy">

    <div  class="charts">
      <canvas baseChart 
        [data]="doughnutChartData3"
        [labels]="doughnutChartLabels3"
        [chartType]="doughnutChartType">
      </canvas>
      <div  class="chart-for">
        Concepts
      </div>
    </div>

    <div  class="charts">
      <canvas baseChart 
        [data]="doughnutChartData4"
        [labels]="doughnutChartLabels4"
        [chartType]="doughnutChartType">
      </canvas>
      <div  class="chart-for">
        Tools
      </div>
    </div>

  </div>

</div>