<div  [ngClass]="'web'"  
      [ngClass.lt-md]="'mobile'">

  <div  class="skill-hdr">
    Skills
  </div>
  
  <div  class="skill-bdy">

    <div  class="charts">
      <canvas baseChart 
        [data]="doughnutChartData1"
        [labels]="doughnutChartLabels1"
        [chartType]="doughnutChartType">
      </canvas>
    </div>

    <div  class="charts">
      <canvas baseChart 
        [data]="doughnutChartData2"
        [labels]="doughnutChartLabels2"
        [chartType]="doughnutChartType">
      </canvas>
    </div>  

  </div>

</div>