<div  [ngClass]="'web'"  
      [ngClass.lt-md]="'mobile'">

  <div class="proj">
    Projects
  </div>

  <div  class="proj-cont">

    <div  class="proj-txt">
      <p> <b> # Mobile Payment App. </b> </p>
      <p> * I worked on Product Management and Stocks Management Module </p>
      <p> * Implemented RESTful web service for effective communication between client and server. </p>
    </div>

    <div  class="proj-txt">
      <p> <b> # Distribution Management System. </b> </p>
      <p> * I worked on Product Management and Stocks Management Module </p>
      <p> * Implemented RESTful web service for effective communication between client and server. </p>
    </div>

    <!-- <div  class="proj-txt">
        suman  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal mandal
    </div>

    <div  class="proj-txt">
        suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal  suman mandal
    </div> -->

  </div>

</div>