.web  {
  .proj {
    color: #838383;
    margin: 0 auto;
    text-align: center;
    margin: 12vh 0 5vh;
    font-size: 50px;
  }

  .proj-cont  {
    padding: 0 10%;

    .proj-txt {
      color: #838383;
      text-align: left;
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 2vh;
    }
  }
}

.mobile {

  .proj {
    color: #838383;
    margin: 0 auto;
    text-align: center;
    margin: 3vh 0;
    font-size: 35px;
  }

  .proj-cont  {
    padding: 0 4vw;

    .proj-txt {
      color: #838383;
      text-align: left;
      font-size: 12px;
      line-height: 1.2;
      margin-bottom: 2vh;
    }
  }
}