<div  [ngClass]="'web'"  
      [ngClass.lt-md]="'mobile'">

  <div class="proj">
    Projects
  </div>

  <div  class="proj-cont">

    <div  class="proj-txt">
      <p> <b> # Mobile Payment App.( Obopay Projects ) </b> </p>
      <p  class="desc"> * Developed high performance payment app for our new client, which uses our existing payment infrastructure. </p>
      <p  class="desc"> * I majorly work on app UI, Flow and integrating Backend APIs in Angular and Node server (Node server internally called java weblogic server). </p>
    </div>

    <div  class="proj-txt">
      <p> <b> # Distribution Management System. ( Obopay Projects ) </b> </p>
      <p class="desc"> * Developed a portal which handles the distribution channel between (HO -> WD Points -> WD -> Retailers).</p>
      <p class="desc"> * My part to work to develop UI and work flow for creation & distribution product between (HO -> WD Point -> WD).</p>
      <p class="desc"> * I am responsible for 2 major modules and some feature component <b>Product Management Module, Stocks Management Module, Google Map based order tracking & Reports History.</b></p>
      <p class="desc"> * Integrate RESTful APIs in every components. </p>
    </div>

    <div  class="proj-txt">
      <p> <b> # Chat Application  ( Self Projects ) </b> </p>
      <p class="desc"> * Designed and Developed a real time Chat application, where user can create account, chat with random people, upload post and profile pics, 'Like' someone status. </p>
      <p class="desc"> * Resource used angular, websockets, express, mysql database</p>
      <p class="desc"> * URL: <a href="https://chatapp212.herokuapp.com"> https://chatapp212.herokuapp.com </a> (Only for mobile view) </p>
    </div>

    <div  class="proj-txt">
      <p> <b> # File Locker System  ( Self Projects ) </b> </p>
      <p class="desc"> * Designed and Developed a web portal where user can created account and store important file like (Marks sheets and official documents). </p>
      <p class="desc"> * And any time user can download there file through that web portal.</p>
      <p class="desc"> * Resource used angular, express and mysql database.</p>
    </div>

  </div>

</div>