.web {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .cloud1  {
    height: 8vh;
    position: absolute;
    left: 10vw;
    top: 10%;
  }

  .cloud2 {
    height: 8vh;
    position: absolute;
    right: 10vw;
    top: 20%;
  }

  .cloud3 {
    height: 8vh;
    position: absolute;
    left: 18vw;
    top: 20%;
  }

  .cloud4 {
    height: 8vh;
    position: absolute;
    right: 15vw;
    top: 10%;
  }

  .name {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    color: white;
    margin: 6vh 0 0;
    margin-bottom: 2vh;
  }

  .about-me {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', bold, Verdana, sans-serif;
    font-size: 2em;
    margin: 1vh 0 2vh;
    color: white;
  }

  .walk {
    height: 18vh;
  }

}

.mobile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .cloud1, .cloud2, .cloud3, .cloud4{
    display: none;
  }

  .name {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    color: white;
    margin: 6vh 0 0;
  }

  .about-me {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', bold, Verdana, sans-serif;
    font-size: 1.4em;
    margin: 2vh 0;
    color: white;
  }

  .walk {
    height: 20vh;
  }
}
