<div  [ngClass]="'web'"  
      [ngClass.xs]="'mobile'">
  
  <img  class="cloud1" src="../../assets/cloud.svg"/>
  <img  class="cloud2" src="../../assets/cloud.svg"/>
  <img  class="cloud3" src="../../assets/cloud.svg"/>
  <img  class="cloud4" src="../../assets/cloud.svg"/>
    
  <span class="name">
    Suman Mandal
  </span>

  <div class="about-me">
    <span>I am a</span>
    <span style="font-weight: 700;"> {{ display }}  </span>
  </div>

  <img src="../../assets/walking-man.svg" class="walk"/>
</div>